body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

h1 {
    margin: 0;
}

.header-container {
    background-color: #1F2937;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 20px 0;
}

header h1 {
    font-size: x-large;
    color: #F9FAF8;
}

nav, a {
    color: #E5E7EB;
    font-size: medium;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.hero-main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-placeholder {
  width: 500px;
  height: 250px;
  background-color: #6B7280;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  text-align: center;
  border-radius: 8px;
}

.hero-main .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: xx-large;
    font-weight: 900; 
    width: 100%;
    max-width: 330px;
}

.hero-text p {
    color: #E5E7EB;
    font-size: small;
    width: 100%;
    max-width: 330px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #276ad6;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.boxes-image {
    outline: solid 2px #3882F6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}

.box-images-section {
    display: flex;
    gap: 50px;
}

.boxes-container {
    width: 100%;
    max-width: 100px;
}

.boxes-container p {
    font-size: small;
    text-align: center;
}

.third-section {
    background-color: #EFE7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote-container p {
    color: #1f2937;
    font-weight: 300;
    font-size: x-large;
    font-style: italic;
    width: 100%;
    max-width: 820px;
}

.quote-container span {
    font-weight: 600;
    display: flex;
    justify-content: end;
}

.fourth-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    background-color: #3882F6;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 40px 80px;
    border-radius: 8px;
}

.signup-container h1 {
    color: white;
    font-weight: 700;
    font-size: large;
}

.signup-container span {
    color: rgba(255, 255, 255, 0.726);
    font-size: small;
    font-weight: 600;
}

.signup-container button {
    border: solid 2px white;
    padding: 8px 15px;
}

.footer-section {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    font-size: small;
    font-weight: 200;
    padding: 20px;
}